body {
  text-align: center;
  background-color: #333;
  color: #d3dde3;
}

h1.title {
  float: left;
  text-indent: 15px;
}

a {
  text-decoration: none;
  color: #0069c4;
  opacity: 0.85;
  transition: 0.7s;
}

a:hover {
  opacity: 1;
  color: #0088ff;
}

#navbar {
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  display: inline;
  background-color: white;
}

#projectsleft {
  border-radius: 17px;
  padding: 10px;
  display: inline-block;
  margin-left: auto;
  background-color: white;
  transition: 0.7s;
}

#projectsright {
  border-radius: 17px;
  padding: 10px;
  display: inline-block;
  margin-right: auto;
  background-color: white;
  transition: 0.7s;
}

#projectsleft:hover {
  box-shadow: 10px 10px 20px 0px #d3dde3;
}

#projectsright:hover {
  box-shadow: 10px 10px 20px 0px #d3dde3;
}

.footer {
  bottom: 0;
}