body {
  text-align: center;
}

h1.title {
  float: left;
  text-indent: 15px;
}

a {
  text-decoration: none;
  color: #0069c4;
  opacity: 0.7;
  transition: 0.7s;
}

a:hover {
  opacity: 1;
  color: #0088ff;
}

#navbar {
  border: 2px solid #333;
  padding: 15px;
  border-radius: 15px;
  width: 10%;
  height: 10%;
  margin: auto;
  display: inline-block;
}